body {
    background: #000;
    font-family: system-ui;
    /* display: grid; */
    place-content: center;
    height: 100vh;
    color: black;
}

.labelError {
    color: red;
}

.jumbotron {
    margin: 0 auto;
    background-color: white;
    width: 600px;
}

.row {
    margin: 0px 0px 10px 10px;
}

.columna{
    font-weight: bold;
}

.labelCheck {
    margin-right: 11px;
}

.error {
    color: red;
    padding-left: 7px;
}